@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.footer-texture {
  background-image: url('../public/Group_106.svg');
}

.bl {
  color: rgb(156 163 175);
}

.active {
  color: #000000 !important;
}

.active path, .active line, .active g {
  stroke: #7B49EA !important;
}